/* Login Card Code */
.card {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 40px;
}

/* Background Video code */
.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: auto;
    height: 100%;
  }
}
body {
  font-family: "Times New Roman", Times, serif;
}

#login1 {
  background-color: rgb(40, 70, 220);
  color: white;
}
